.music-section-top {
  background-color: coral;
  height: 50px;
  width: 100%;
}

.quick-search-results {
  position: absolute;
  top: 55px;
  left: 30px;
  width: 280px;
  min-height: 200px;
  background-color: rgb(41,42,45);
  box-shadow: 0 2px 10px #000;
  border-radius: 5px;
  animation: fade-in 100ms linear;
  font-size: 0.8rem;
  color: rgb(232, 234, 237);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quick-search-results li, .quick-search-results i {
  padding: 5px 10px; 
  min-height: 30px;
  display: flex;
  align-items: center;
}

.quick-search-results i {
  background-color:  rgb(60, 61, 63);
}

.quick-search-results li:hover {
  cursor: pointer;
  background-color: rgb(75,76,79);
}

