section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ccc;
  padding: 0 5px;
  z-index: 2;
}

.main-content {
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  /* filter: blur(10px); */
}

.music-top-banner {
  position: absolute;
  right: 11px;
  height: 30px;
  background-color: red;
  z-index: 5;
}

.music-icon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(50px, -50%);
  background-image: url('/src/assets/disk.svg');
  background-size: cover;
  z-index: 5;
  transition: transform 1s linear;
}

.music-icon.mounted {
  transform: translate(0, -50%) rotate(-360deg);
}

/* .music-icon.unmount {
  transform: translateX(50px) rotate(360deg);
} */


/* .music-icon:hover {
  animation: rotate 2s linear infinite;
} */

.music-icon.play {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes mountDisk {
  form {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}